@model IEnumerable<Rh.Dominio.Formacao>

@{
    ViewBag.Title = "Formação Academia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Formações acadêmica registrados</div>
            <div class="panel-body">
                <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-sortable="true">@Html.DisplayNameFor(model => model.Candidato.Nome)</th>
                            <th data-sortable="true">@Html.DisplayNameFor(model => model.Instituicao)</th>
                            <th data-sortable="true">@Html.DisplayNameFor(model => model.Descricao)</th>
                            <th data-sortable="true">@Html.DisplayNameFor(model => model.Conclusao)</th>
                            <th data-sortable="true">@Html.DisplayNameFor(model => model.CadidatoId)</th>
                            <th><center><strong>Ações</strong></center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                   @Html.DisplayNameFor(model => model.Curso)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Instituicao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Conclusao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CadidatoId)
                                </td>

                                <td>
                                    <center>
                                        <a href="@Url.Action("Edit", new { id = item.FormacaoId })" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></a>
                                        <a href="@Url.Action("Details", new { id = item.FormacaoId })" class="btn btn-default"><i class="glyphicon glyphicon-file"></i></a>
                                        <a href="@Url.Action("Delete", new { id = item.FormacaoId })" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></a></center>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>